	/*导航栏样式开始*/
		*{padding:0;margin:0;}
		/*学员搜索管理一栏样式开始*/
		.student_list>li{
			list-style: none;
			float:left;
			padding:0 15px;
			line-height:50px;
		}
		.student_list>li:nth-child(1){
			font-size:25px;
			font-weight:bold;
		}
		.student_list>li:nth-child(2) input{
			height:30px;
			width:300px;
		}
		.student_list>li:nth-child(3){
			margin-left:-18px;
			line-height:45px;
		}
		.student_list>li:nth-child(4){
			line-height:45px;
		}
		.student_list>li:nth-child(5){
			line-height:45px;
			float:right;
		}
		/*学员搜索管理一栏样式结束*/
		/*添加学员课时dialog样式设置开始*/
		#add_student_hour p{
			display:block;
			height:43px;
			width:99%;
			border:1px solid #ccc;
			overflow:hidden;
		}
		#add_student_hour p label{
			display: inline-block;
			height:100%;
			width:90px;
			font-size:18px;
			background:green;
			line-height:43px;
			text-align:right;
		}
		#add_student_hour p input{
			height:100%;
			width:59%;
			outline:none;
			border:none;
			font-size:20px;
		}
		/*添加学员课时dialog样式设置结束*/


		/*修改学员课时信息样式设置开始*/
		#edit_course_hour p{
			display:block;
			height:43px;
			width:99%;
			border:1px solid #ccc;
			overflow:hidden;
		}
		#edit_course_hour p label{
			display: inline-block;
			height:100%;
			width:90px;
			font-size:18px;
			background:green;
			line-height:43px;
			text-align:right;
		}
		#edit_course_hour p input{
			height:100%;
			width:59%;
			outline:none;
			border:none;
			font-size:20px;
		}
		/*修改学员课时信息样式设置结束*/