		*{padding:0;margin:0;}
		/*搜索管理一栏样式开始*/
		.student_list>li{
			list-style: none;
			float:left;
			padding:0 15px;
			line-height:50px;
		}
		.student_list>li:nth-child(1){
			font-size:25px;
			font-weight:bold;
		}
		.student_list>li:nth-child(2) input{
			height:40px;
			width:178px;
		}
		.student_list>li:nth-child(3){
			margin-left:-18px;
			line-height:45px;
		}
		.student_list>li:nth-child(4){
			line-height:45px;
		}
		.student_list>li:nth-child(5){
			line-height:45px;
			float:right;
		}
		/*搜索管理一栏样式结束*/

		/*入账出账表单样式开始*/
		#fom{
			margin-left:20px;
		}
		#fom p{
			display:block;
			margin-top:25px;
		}
		#fom p label{
			display: inline-block;
			width:65px;
			font-size:15px;
		}
		/*入账出账表单样式设置结束*/
		.datagrid-row{
			height:45px;
		}
		/*修改入账出账表单样式开始*/
		#fmm{
			margin-left:20px;
		}
		#fmm p{
			display:block;
			margin-top:25px;
		}
		#fmm p label{
			display: inline-block;
			width:65px;
			font-size:15px;
		}
		/*修改入账出账表单样式结束*/